VaccineTracker.Console/bin/
VaccineTracker.Console/obj/
VaccineTracker.Core/VaccineTracker.Core/bin/
VaccineTracker.Core/VaccineTracker.Core/obj/
VaccineTracker/bin/
VaccineTracker/obj/
VaccineTracker.sln.DotSettings
